.example-card {
    margin: 20px;
    max-width: auto;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  
  mat-grid-tile {
    background: lightblue;
  }