.image{
    height: 100%; 
    background-size:cover;
    width:auto;
    background-image:url('https://wallpaperaccess.com/full/656665.jpg');
    background-position:50% 50%;
    position: relative;
  }
