<mat-card class="centered">
    <h1>Register</h1>
    <div class="example-container">
        <mat-form-field
            [hideRequiredMarker]="registerForm.value.hideRequired"
            [floatLabel]="registerForm.value.floatLabel">
            <input matInput placeholder="First Name" [(ngModel)]="registerForm.value.firstname" required>
        </mat-form-field>
        <br>
        <mat-form-field
            [hideRequiredMarker]="registerForm.value.hideRequired"
            [floatLabel]="registerForm.value.floatLabel">
            <input matInput placeholder="Middle Name" [(ngModel)]="registerForm.value.middlename">
        </mat-form-field>
        <br>
        <mat-form-field
            [hideRequiredMarker]="registerForm.value.hideRequired"
            [floatLabel]="registerForm.value.floatLabel">
            <input matInput placeholder="Last Name" [(ngModel)]="registerForm.value.lastname" required>
        </mat-form-field>
        <br>
        <mat-form-field
            [hideRequiredMarker]="registerForm.value.hideRequired"
            [floatLabel]="registerForm.value.floatLabel">
            <input matInput placeholder="Username" [(ngModel)]="registerForm.value.username" required>
        </mat-form-field>
        <br>
        <mat-form-field
            [hideRequiredMarker]="registerForm.value.hideRequired"
            [floatLabel]="registerForm.value.floatLabel">
            <input matInput placeholder="Email ID" [(ngModel)]="registerForm.value.email" required>
        </mat-form-field>
        <br>
        <mat-form-field
            [hideRequiredMarker]="registerForm.value.hideRequired"
            [floatLabel]="registerForm.value.floatLabel">
            <input matInput placeholder="Password" [(ngModel)]="registerForm.value.password" required type='password'>
        </mat-form-field>
        <div class="form-group">  
            <button mat-raised-button color="primary" (click)="onSubmit()">Register</button>  
        </div> 
    </div>  
</mat-card>