<h1>Register</h1>
<form class = "centered" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="example-container">
        <label for="email">Email</label>
        <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': registerFormControls.email.errors }" />
        <div *ngIf="registerFormControls.email.errors" class="invalid-feedback">
            <div *ngIf="registerFormControls.email.errors.required">Last Name is required</div>
        </div>
    </div>
    <div class="example-container">
        <label for="username">Username</label>
        <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': registerFormControls.username.errors }" />
        <div *ngIf="registerFormControls.username.errors" class="invalid-feedback">
            <div *ngIf="registerFormControls.username.errors.required">Username is required</div>
        </div>
    </div>
    <div class="example-container">
        <label for="password">Password</label>
        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': registerFormControls.password.errors }" />
        <div *ngIf="registerFormControls.password.errors" class="invalid-feedback">
            <div *ngIf="registerFormControls.password.errors.required">Password is required</div>
            <div *ngIf="registerFormControls.password.errors.minlength">Password must be at least 6 characters</div>
        </div>
    </div>
    <div class="example-container">
        <button class="btn btn-primary">
            <span class="spinner-border spinner-border-sm mr-1"></span>
            Register
        </button>
        <a routerLink="/login" class="btn btn-link">Cancel</a>
    </div>
</form>